.inputOutput {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
}

.particles {
    position: fixed;
    top: 0;
    left: 0; 
    bottom: 0;
    right: 0;
    z-index: -1;
    margin: 0px;
}

.app {
    height: 100%;
}